/* div{
    background-color: aqua;
    margin:10px;
    padding:10px;
    border:4px solid red;
    border-radius: 5px;
    box-shadow: 3px 6px lightblue;
} */
#container div{
    background-color: antiquewhite;
    margin:10px;
    float:left;

}
#container::after{
    clear:both;
    display: table;
    content: "";
}
.nav > a{
    text-decoration: none;
    color:red;
}
.myflex {
    display: flex;
    column-gap: 10px;
    row-gap: 5px;;
    flex-direction: row;

    

}
.myflex div{
    padding:10px;
    background-color:lightgrey;
    
}